* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* BANNER */
.program-banner {
  width: 100%;
  height: 700px;
  margin-top: 0px;
  background-image: url('/assets/program.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.program-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.program-banner-content {
  text-align: center;
  color: white;
  padding: 20px 40px;
  z-index: 2;
}

.program-banner-content h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.program-banner-content p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

/* Responsif */
@media (max-width: 768px) {
  .program-banner {
    height: 350px;
  }
  .program-banner-content h1 {
    font-size: 30px;
  }
  .program-banner-content p {
    font-size: 16px;
  }
}

/* CARD */
.program-card {
  display: flex;
  gap: 20px;
  background: white;
  border: 2px solid #0d542b;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);

  transition: all 0.4s ease;       
  overflow: hidden;
  max-height: 220px;               
  cursor: pointer;
}

/* HOVER → CARD EXPAND */
.program-card:hover {
  max-height: 520px;               
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* IMAGE */
.program-img {
  width: 280px;
  height: 170px;
  object-fit: cover;
  border-radius: 20px;
}

/* RIGHT CONTENT */
.program-info {
  flex: 1;
}

/* TITLE */
.program-title {
  margin: 10px 0 5px;
  font-size: 22px;
  font-weight: 700;
  color: #0d542b;
}

.desc {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
  line-height: 1.5;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);

  transition: all 0.5s ease;
}

.program-card:hover .desc {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}