<link rel="stylesheet" href="/style/components/footer.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

<footer>
  <div class="footer-top">
    <div class="footer-content">
      <h1>UKM Lumut</h1>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d433.69153407669637!2d113.72401728400395!3d-8.160455469358531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd695e067e24e6b%3A0x9b7595c7b894ec80!2sSekretariat%20UKM%20LUMUT!5e0!3m2!1sid!2sid!4v1764843187128!5m2!1sid!2sid"
        width="300"
        height="200"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="hubungi-kami">
      <h3>Hubungi Kami</h3>
      <div class="hubungi-kami-content">
        <img src="/assets/icons8-telephone-30.png" alt="" />
        <p>0821-4716-7675</p>
      </div>
      <div class="hubungi-kami-content">
        <img src="/assets/icons8-place-marker-64.png" alt="" />
        <p>
          UKM Lukis Musik Tari, Politeknik Negeri Jember Jalan mastrip No. 68,
          Jember Jawa Timur 68124
        </p>
      </div>
    </div>

    <div class="footer-links-wrapper">
      <div class="nav-list">
        <h1>Navigasi</h1>
        <ul>
          <li>
            <a href="/pages/tentang.html">Tentang</a>
          </li>
          <li>
            <a href="/pages/article.html">Article</a>
          </li>
          <li>
            <a href="/pages/program.html">Program</a>
          </li>
          <li>
            <a href="/pages/organisasi.html">Organisasi</a>
          </li>
        </ul>
      </div>

      <div class="sosmed-list">
        <h1>Sosial Media</h1>
        <ul>
          <li>
            <a
              href="https://www.instagram.com/ukmlumut?igshid=ZDdkNTZiNTM%3D"
              target="_blank"
            >
              <img src="/assets/Instagram.png" alt="" />
              Instagram
            </a>
          </li>
          <li>
            <a
              href="https://web.facebook.com/people/UKM-LUMUT/100054473229418/?mibextid=ZbWKwL"
              target="_blank"
            >
              <img src="/assets/Facebook.png" alt="" />
              Facebook
            </a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@ukmlumut?_t=8btftoua4mo&_r=1"
              target="_blank"
            >
              <img src="/assets/TikTok.png" alt="" />
              Tiktok
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/@lumutertainment6467"
              target="_blank"
            >
              <img src="/assets/YouTube.png" alt="" />
              Youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 UKM Lumut | All rights reserved</p>
  </div>
</footer>