<link rel="stylesheet" href="/style/components/footer.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<footer>
    <div class="footer-content">
        <h1>UKM Lumut</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat fugit cum, maxime ad dolores accusantium quisquam suscipit provident et eius optio mollitia consequuntur obcaecati odio.</p>
    </div>

    <div class="nav-list">
        <h1>Navigasi</h1>
        <ul>
            <li>
                <a href="/pages/tentang.html">Tentang</a>
            </li>
            <li>
                <a href="/pages/article.html">Article</a>
            </li>
            <li>
                <a href="/pages/program.html">Program</a>
            </li>
            <li>
                <a href="/pages/organisasi.html">Organisasi</a>
            </li>
        </ul>
    </div>

    <div class="sosmed-list">
        <h1>Sosial Media</h1>
        <ul>
            <li>
                <a href="">
                    <img src="/assets/Instagram.png" alt="">
                    Instagram
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/Facebook.png" alt="">
                    Facebook
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/TikTok.png" alt="">
                    Tiktok
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/YouTube.png" alt="">
                    Youtube
                </a>
            </li>
        </ul>
    </div>
</footer>