<link rel="stylesheet" href="/style/components/footer.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<footer>
    <div class="footer-content">
        <h1>UKM Lumut</h1>
        <p>Footer Desciption</p>
        
    </div>

    <div class="hubungi-kami">
        <h3>Hubungi Kami</h3>
        <div class="hubungi-kami-content">
            <img src="/assets/icons8-telephone-30.png" alt="">
            <p>08123456789</p>
        </div>
    </div>

    <div class="nav-list">
        <h1>Navigasi</h1>
        <ul>
            <li>
                <a href="/pages/tentang.html">Tentang</a>
            </li>
            <li>
                <a href="/pages/article.html">Article</a>
            </li>
            <li>
                <a href="/pages/program.html">Program</a>
            </li>
            <li>
                <a href="/pages/organisasi.html">Organisasi</a>
            </li>
        </ul>
    </div>

    <div class="sosmed-list">
        <h1>Sosial Media</h1>
        <ul>
            <li>
                <a href="https://www.instagram.com/ukmlumut?igshid=ZDdkNTZiNTM%3D" target="_blank">
                    <img src="/assets/Instagram.png" alt="">
                    Instagram
                </a>
            </li>
            <li>
                <a href="https://web.facebook.com/people/UKM-LUMUT/100054473229418/?mibextid=ZbWKwL" target="_blank">
                    <img src="/assets/Facebook.png" alt="">
                    Facebook
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@ukmlumut?_t=8btftoua4mo&_r=1" target="_blank">
                    <img src="/assets/TikTok.png" alt="">
                    Tiktok
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/@lumutertainment6467" target="_blank">
                    <img src="/assets/YouTube.png" alt="">
                    Youtube
                </a>
            </li>
        </ul>
    </div>

</footer>
<div class="footer-bottom">
    <p>&copy; 2025 UKM Lumut | All rights reserved</p>
</div>