<link rel="stylesheet" href="/style/components/header.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<header>
    <nav>
        <h1>UKM Lumut</h1>
        <ul>
            <li>
                <a href="/pages/tentang.html">Tentang</a>
            </li>
            <li>
                <a href="/pages/article.html">Article</a>
            </li>
            <li>
                <a href="/pages/program.html">Program</a>
            </li>
            <li>
                <a href="/pages/organisasi.html">Organisasi</a>
            </li>
        </ul>
    </nav>
</header>