header {
    font-family: 'Poppins', sans-serif;
    margin-inline: 200px;
    position: fixed;
    padding: 36px;
    background-color: rgba(255, 255, 255, 0.449);
    top: 20px;
    left: 0px;
    right: 0px;
    z-index: 50;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
    border-radius: calc(infinity * 1px);

    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
}

header nav h1 {
    font-weight: 700;
    font-size: 24px;
}

header nav h1 a {
    text-decoration: none;
    color: #000;
}

header nav ul {
    display: flex;
    gap: 36px;
    font-size: 18px;
    font-weight: 500;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}